@import "tailwindcss";
@config "../tailwind.config.ts";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.custom-list li::marker {
  color: #515459; 
}

:root {
  --rt-blue-1: #4da3ff;
  --rt-blue-2: #0078ff;

  --dark-1: #010409;
  --dark-2: #0D1117;
  --dark-3: #000000;
  --dark-4: #010409;
  --dark-5: #05080d;

  --db-display: #0c0d0e;
  --db-side: #050607;

  --dark-border: #ffffff24;
  --dark-border-2: #2c2c2c;
  --text-light: #e6edf3;
}

:root {
  --rt-bg-dark: #0a0a10;
  --rt-bg-1: #09101a;
  --rt-bg-2: #0c1623;
  --rt-blue: #3ea9ff;
  --rt-cyan: #24ffd6;
  --rt-green: #6cff7a;
  --rt-purple: #7677e2;
  --rt-brand-glow: #14f1ff;
  --rt-fg-light: #e0ecff;
  --rt-fg-muted: #99aac1;
  --rt-fg-subtle: #737c97;
  --rt-border-card: #2e333f;
  --rt-card-bg: #141925b2;
  --rt-shadow-lg: 0 8px 32px 0 #00131f60;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}


html {
  scrollbar-width: thin;                     /* width */
  scrollbar-color: var(--rt-border-card) var(--dark-2); /* thumb track */
}
