@import "tailwindcss";

:root {
  --rt-blue-1: #4da3ff;
  --rt-blue-2: #0078ff;

  --dark-1: #010409;
  --dark-2: #0D1117;
  --dark-3: #000000;

  --dark-border: #ffffff24;
  --dark-border-2: #2c2c2c;
  --text-light: #e6edf3;
}
